*{
    height: 100;
    padding: 0;
    margin: 0;
  
}
.menu{
    font-family:'Courier New', Courier, monospace;
    position: sticky;
    box-sizing: border-box;
    background-color: rgba(211, 50, 50, 0.742);
    right: 0;
    left: 0;
}
.menu h1 {
    font-size:xx-large;
    position:static;
    top: 0;
    left: 0;
    margin: 0%;
}
.menu ul{
    position: relative;
    bottom: 50px;
    left: 1200px;
}
.menu li{
    display: inline-block;
    margin-left: 5px; 
    padding-top: 25px;
    text-transform:uppercase ;

}
.img a{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0%;
    padding:0cm;
    border-radius: 20px;
}
.Fav{
    margin-top: auto;
}
.Fav h2{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Fav p{
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Fav a{
    font-size: 20px;
    left: 100px;
    display:block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.preferencias img{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0%;
    padding:0cm;
    border-radius: 20px;

}

